body
{
    background-color: bisque;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
header
{
    text-align: center;
}
header > a > img
{
    width: 50%;
}
nav
{
    background-color: grey;
    padding: 5px;
    margin: 10px;
}
nav > a
{
    color: white;
}

main p
{
    text-align: justify;
    
}

footer
{
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
}